* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  color: #000;
  font-size: 10px;
}

body {
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.sticks {
  width: 10px;
  height: 970px;
  display: flex;
  flex-direction: row;
  background-color: #68C9BA;
  overflow: hidden;
  z-index: 3;
  transform: rotate(30deg);
}

.stick-container {
  width: 120%;
  height: 120%;
  position: absolute;
  top: -15%;
  left: -20%;
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
  overflow: hidden;
}

.poppup__back-layer {
  width: 1120px;
  height: 560px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: relative;
  border: 1px solid black;
}
.poppup__side-layer {
  height: 500px;
  width: 1060px;
  border-radius: 30px;
  border: 1px solid red;
  z-index: 10;
  background-color: #fff;
}